<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>登录</title>
</head>
<body>
<div align="center">
    <h3>欢迎登录伴我汽车</h3>
    <form action="deallogin" method="post">
        LoginName:<input type="text" name="loginName"/><p/>
        password:<input type="password" name="password"/><p/>
        验 证 码:<input type="text" name="verrifyCode" size="15px"><p/>
        <img id="imgCode" src="/getimage" width="125" height="40" />
        <a href="javaScript:changeCode();">换一张</a><br/>
        <input type="submit" value="提交"/>
    </form>
</div>
<script src="/js/jquery/jquery-2.1.1.min.js"></script>
<script>
    function changeCode() {
        var timestamp=new Date().getTime();
        $("#imgCode").attr("src","/getimage?timestamp="+timestamp);
    }
</script>
</body>
</html>