<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
  <meta charset="UTF-8">
  <title>管理首页</title>
  <style type="text/css">
      .span_class{
          font-size: 25px;
          color: darkgreen;
      }
      .li_class{
          font-size: 20px;
          color: greenyellow;
      }
      #menu_id{
          width: 20%;
          height: 70%;
          float: left;
          background-color: cyan;
      }
      #context_id{
        width: 79%;
        height:70%;
        background-color: darkgrey;
      }
  </style>
</head>
<body>
  <div>
    <div style="height: 35px ; background-color: azure;">
       <img src="/imges/logo.jpg" style="height: 40px ; width: 40px ; float: left">
        <i style="font-size: 30px ; color: blue">“伴我汽车”管理平台</i>
      <label style="" style="margin-left: 600px">时间：<span class=""> </span></label>
      <label style=""  style="margin-left: 700px">用户：<span class="" th:text="${session.adminUserName}"> </span></label>
      <label style="" style="margin-left: 800px">所属角色：<i class="" th:text="${session.adminRole}"> </i></label>
      <a  href="/logout"> 退出</a>
    </div>
    <hr/>
  </div>
  <div id="menu_id">
    <div>

     <ul class=""  th:each="menu:${session.menus}">
       <li>
          <span class="span_class "  th:if="${menu.action == '会员管理'}" >会员管理</span>
         <ul th:if="${menu.action == '会员管理'}" class=" main ul ">
           <li th:if="${menu.name == '会员管理'}" class=" main li li_class "><a href="#" > <i class=""></i></a> </li>
         </ul>
      </li><li>
        <span class="span_class "  th:if="${menu.name == '资讯管理'}" >资讯管理</span>
       <ul th:if="${menu.action == '资讯管理'}" class=" main ul ">
           <li th:if="${menu.name == '草稿箱'}" class=" main li li_class "><a href="#" > <i class="">  草稿箱</i></a> </li>
           <li th:if="${menu.name == '资讯审核'}" class=" main li li_class "><a href="#" > <i class="">资讯审核</i></a> </li>
           <li th:if="${menu.name == '资讯发布'}" class=" main li li_class "><a href="#" > <i class="">资讯发布</i></a> </li>
           <li th:if="${menu.name == '资讯列表'}" class=" main li li_class "><a href="#" > <i class="">资讯列表</i></a> </li>
        </ul>
      </li>
       <li>
         <span class="span_class "  th:if="${menu.action}">标签定义</span>
         <ul th:if="${menu.action == '标签定义'}" class=" main ul ">
           <li th:if="${menu.name == '标签定义'}" class=" main li li_class "><a href="#" > <i class=""></i></a> </li>
         </ul>
       </li>
       <li>
        <span class="span_class "  th:if="${menu.action =='车型库管理'}" >车型库管理</span>
       <ul th:if="${menu.action == '车型库管理'}" class=" main ul ">
           <li th:if="${menu.name == '品牌管理'}" class=" main li li_class "><a href="#" > <i class="">品牌管理</i></a> </li>
           <li th:if="${menu.name == '厂商管理'}" class=" main li li_class "><a href="#" > <i class="">厂商管理</i></a> </li>
           <li th:if="${menu.name == '车系管理'}" class=" main li li_class "><a href="#" > <i class="">车系管理</i></a> </li>
           <li th:if="${menu.name == '车款管理'}" class=" main li li_class "><a href="#" > <i class="">车款管理</i></a> </li>
           <li th:if="${menu.name == '参数分类管理'}" class=" main li li_class "><a href="#" > <i class="">参数分类管理</i></a> </li>
           <li th:if="${menu.name == '参数管理'}" class=" main li li_class "><a href="#" > <i class="">参数管理</i></a> </li>
        </ul>
      </li><li>
        <span class="span_class "  th:if="${menu.action =='自有商品管理'}">自有商品管理</span>
       <ul th:if="${menu.action == '自有商品管理'}" class=" main ul ">
           <li th:if="${menu.name == '自有商品管理'}" class=" main li li_class "><a href="#" > <i class="">自有商品管理</i></a> </li>
        </ul>
      </li><li>
        <span class="span_class "  th:if="${menu.action =='活动管理'}">活动管理</span>
       <ul th:if="${menu.action == '活动管理'}" class=" main ul ">
           <li th:if="${menu.name == '活动列表'}" class=" main li li_class "><a href="#" > <i class="">活动列表</i></a> </li>
           <li th:if="${menu.name == '推荐活动'}" class=" main li li_class "><a href="#" > <i class="">推荐活动</i></a> </li>
           <li th:if="${menu.name == '类型管理'}" class=" main li li_class "><a href="#" > <i class="">类型管理</i></a> </li>
           <li th:if="${menu.name == '渠道管理'}" class=" main li li_class "><a href="#" > <i class="">渠道管理</i></a> </li>
        </ul>
      </li><li>
        <span class="span_class "  th:if="${menu.action =='消息管理'}">消息管理</span>
       <ul th:if="${menu.action == '消息管理'}" class=" main ul ">
           <li th:if="${menu.name == '消息管理'}" class=" main li li_class "><a href="#" > <i class="">消息管理</i></a> </li>
        </ul>
      </li><li>
        <span class="span_class "  th:if="${menu.action =='标签管理'}">标签管理</span>
       <ul th:if="${menu.action == '标签管理'}" class=" main ul ">
           <li th:if="${menu.name == '标签管理'}" class=" main li li_class "><a href="#" > <i class="">标签管理</i></a> </li>
        </ul>
      </li><li>
        <span class="span_class "  th:if="${menu.action =='角色管理'}">角色管理</span>
       <ul th:if="${menu.action == '角色管理'}" class=" main ul ">
           <li th:if="${menu.name == '角色管理'}" class=" main li li_class "><a href="#" > <i class="">角色管理</i></a> </li>
        </ul>
      </li><li>
        <span class="span_class "  th:if="${menu.action =='管理员列表'}">管理员列表</span>
       <ul th:if="${menu.action == '管理员列表'}" class=" main ul ">
           <li th:if="${menu.name == '管理员列表'}" class=" main li li_class "><a href="#" > <i class="">管理员列表</i></a> </li>
        </ul>
      </li>
       <li>
          <span class="span_class "  th:if="${menu.action =='操作日志'}">操作日志</span>
         <ul th:if="${menu.action == '操作日志'}" class=" main ul ">
           <li th:if="${menu.name == '操作日志'}" class=" main li li_class "><a href="#" > <i class="">操作日志</i></a> </li>
        </ul>
      </li><li>
        <span class="span_class "  th:if="${menu.action =='个人中心'}">个人中心</span>
       <ul th:if="${menu.action == '个人中心'}" class=" main ul ">
           <li th:if="${menu.name == '个人中心'}" class=" main li li_class "><a href="#" > <i class="">个人中心</i></a> </li>
        </ul>
      </li>
     </ul>
    </div>
  </div>
  <div id="context_id">
    <div>

    </div>

  </div>

<script src="/jqurey/jquery-2.1.1.min.js"></script>
<script type="text/javascript">
    $(function () {
        
    })
    
</script>
</body>
</html>